@import "../../../scss/variables/mixins.scss";

.MyReadBooksPage {
  max-width: 90vw;
  width: 90vw;
  min-height: 80vh;
  display: flex;
  justify-content: space-between; /* Placerar element på motsatta sidor av container */
  align-items: flex-start; /* Justerar vertikal placering till toppen */
  margin: 1rem 10rem 1rem 10rem;
  gap: 2rem;
  border: solid black 2px;

  .read-books-box {
    flex: 1; /* Tar upp så mycket utrymme som möjligt */

    
  }

  h3 {
    margin: 5px;
  }
  ul {
    @include ul-list-mixin();
    li {
      margin-bottom: 0.5rem;
    }
    .link {
      @include liAndlink-style-mixin();
      &:hover {
        font-weight: $font-weight-first;
      }
      &:active {
        transform: translateX(1px);
      }
    }
  }
}
