@import "../../../scss/variables/mixins.scss";

.MyReadBooksPage {
  @include default-page-style();
  padding: 1rem;

  .read-books-box {
    flex: 1; /* Tar upp så mycket utrymme som möjligt */
  }

  h3 {
    margin: 5px;
  }
  ul {
    @include ul-list-mixin();
    li {
      margin-bottom: 0.5rem;
    }
    .link {
      @include liAndlink-style-mixin();
      &:hover {
        font-weight: $font-weight-first;
      }
      &:active {
        transform: translateX(1px);
      }
    }
  }
}
