@import "../../scss/variables/colors.scss";
@import "../../scss/variables/mixins.scss";

.ErrorPage {
  @include default-errorPage-style();

  .home-btn {
    border: 2px $color-button-dark-green solid;
    border-radius: 10px;
    padding: 0.5rem;
    background-color: $color-button-green;
    color: $color-button-dark-green;
  }
}
