.SearchedBookPage{
    border: red 2px solid;
    width: 100%;
    min-height: 80vh;
    display: flex;
    
    padding: 1rem 10rem 0rem 10rem;
    
    .foundBooks{
        border: red 2px solid;

    }

    .foundAuthors{
        border: red 2px solid;

    }

}