@import "../../../scss/variables/mixins.scss";
@import "../../../scss/variables/fonts.scss";
@import "../../../scss/variables/colors.scss";

.MyFavoritPage {
  @include default-page-style();
  justify-content: space-around;

  h3 {
    margin: 5px;
  }
  ul {
    @include ul-list-mixin();

    li {
      @include liAndlink-style-mixin();
      .MyButton {
        margin-left: 10px;
        position: relative; /* Lägg till position: relative för att positionera ::after-pseudo-elementet relativt till knappen */
        &:hover {
          cursor: pointer; /* Sätt pekaren till en hand när den hovras över */
          &::after {
            //pop-up infon
            content: "Ta bort"; /* Lägg till önskad text */
            position: absolute; /* Absolut positionera texten */
            top: 50%; /* Placera texten på 50% av knappens höjd */
            left: 100%; /* Placera texten till höger om knappen */
            transform: translateY(-50%); /* Centrera vertikalt */
            font-size: $font-size-small;
            padding: 0.5rem; /* Utfyllnad för bättre utseende */
          }
        }
      }
    }
  }
}
