@import "../../../scss/variables/mixins.scss";
@import "../../../scss/variables/fonts.scss";
@import "../../../scss/variables/colors.scss";

.MyFavoritPage{
    max-width: 90vw;
    width: 90vw;
    min-height: 80vh;
    display: flex;
    justify-content: space-around;
    margin: 1rem 10rem 1rem 10rem;
    gap: 2rem;
    border: solid black 2px;
   
    .favorit-books{

    }
    .favorit-authors{

    }

    h3 {
        margin: 5px;
      }
      ul {
        @include ul-list-mixin();
    
        li {
         @include liAndlink-style-mixin();
         button {
            margin-left: 10px;
            position: relative; /* Lägg till position: relative för att positionera ::after-pseudo-elementet relativt till knappen */
            background-color: $color-button-red;
            border: $color-button-dark-red 1px solid;
            border-radius: 40%;
            &:hover {
              cursor: pointer; /* Sätt pekaren till en hand när den hovras över */
              background-color: $color-button-dark-red;
              &::after {
                content: "Ta bort"; /* Lägg till önskad text */
                position: absolute; /* Absolut positionera texten */
                top: 50%; /* Placera texten på 50% av knappens höjd */
                left: 100%; /* Placera texten till höger om knappen */
                transform: translateY(-50%); /* Centrera vertikalt */
                font-size: $font-size-small;
                padding: 0.5rem; /* Utfyllnad för bättre utseende */
                border-radius: 5px; /* Avrunda hörnen */
              }
            }
          }
        }
      }
}