@import "/src/scss/variables/colors.scss";

.AddReviewPage {
  
  height: 30rem;
  width: 30rem;
  border: 3px solid $color-dark-purple;
  background-color: $color-purple;
  h1{
    text-align: center;
    margin-bottom: 2rem;
  }

  .input-box {
    .fieldset{
      color: $color-white;
      border: 2px solid $color-white;
      width: 20rem;
    }
  }
.btns-box{
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  border-radius: 10%;
  .back-btn{
    background-color: $color-button-red;
    margin-right: 5px;
    border-radius: 30%;
  }
  .add-btn{
    background-color: $color-button-green;
    border-radius: 30%;
  }

}

  .my-rewiev-box {
    margin-top: 5px;
    padding-top: 5px;
    border-top: solid $color-white 5px;
    text-align: center;
    .rewiev{
      display: flex;
      flex-direction: row;
      justify-content: center;
      h5{
        margin-right: 8px;
      }
    }
  }
}

/*
FÖR ATT PLACERA HELA KOMPONENTEN STATISKT
position: absolute;
  top: 50%; // Placera modalens överkant i mitten av fönstret 
  left: 50%; // Placera modalens vänstra kant i mitten av fönstret 
  transform: translate(
    -50%,
    -50%
  ); // Centrera modalen vertikalt och horisontellt  */
