.SearchBar{
display: flex;
   
    .input-box{
      
    }

    .MuiInputBase-input {
        font-size: 9px; // Justera storleken på det som skrivs i input
      }
    
      .MuiFormLabel-root {
        font-size: 10px; // Justera storleken på labeln
      }
    
    .input-btn{
        align-self: center;
        margin-left: 3px;
    }
}