.SearchBar{
display: flex;
flex-direction: column;


   
    .input-box{
      
    }

    .MuiInputBase-input {
        font-size: 9px; // Justera storleken på det som skrivs i input
      }
    
      .MuiFormLabel-root {
        font-size: 10px; // Justera storleken på labeln
      }
    
    .input-btn{
        
        margin-left: 3px;

        .NavLink{
            text-decoration: none;
            color: rgb(172, 63, 63);
        }
    }

    .last-search-box{
       font-size: smaller;
    }
}