@import "../../scss/variables/colors.scss";
@import "../../scss/variables/mixins.scss";

.NavBar {
  @include default-navBar-style();
  .nav-search {
    justify-self: start; /* Placera längst till vänster */
  }

  .nav-loggo {
    justify-self: center; /* Centrera */

    .home-icon {
      text-decoration: none;
      font-size: larger;
      font-weight: bolder;
      color: $color-black;
    }
  }

  .nav-myPage {
    justify-self: end; /* Placera längst till höger */

    span {
      font-size: 3rem;
    }
  }
}
