@import "../../scss/variables/colors.scss";

.NavBar {
    border: solid black 2px;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-top: 5px;
    padding: 0px 10px 0px 10px;
  .nav-search {
      .search {
        color: black;
        text-decoration: none;
      }
    }

    .nav-loggo{

        .home{
         text-decoration:none; 
         font-size: larger;
         font-weight: bolder;
         color: $color-black; 
         align-self: center;
        }
        
    }

    .nav-myPage {
      .myPage{
        text-decoration:none; 
      }
    }
  
  }