@import "../../scss/variables/mixins.scss";
@import "../../scss/variables/fonts.scss";

.SearchPage {
  width: 90vw;
  min-height: 80vh;
  display: flex;
  
  margin: 1rem 10rem 1rem 10rem;
  border: solid black 2px;
  padding: 1rem 0rem 1rem 0rem;
  .found-books {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrera texten vertikalt */
  }

  .found-authors {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrera texten vertikalt */
  }
  h3 {
    margin: 5px;
  }
  ul {
    @include ul-list-mixin();
    li{
      margin-bottom: 0.5rem;
    }
    .link {
      @include liAndlink-style-mixin();
      &:hover {
        font-weight: $font-weight-first;
      }
      &:active {
        transform: translateX(1px);
      }
    }
  }
}
