
@import "../../scss/variables/mixins.scss";
@import "../../scss/variables/colors.scss";

.HomePage {
  @include default-page-style();
  background-color: $color-white-light-transparant;
  flex-direction: column;

  .img-box {
    margin: 5rem 10rem 0rem 10rem;
    img {
      width: 20rem;
      height: 20rem;
    }
  }
  .info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
