@import "./scss/base/base.scss";
@import "./scss/variables/fonts.scss";


body{
    background-color: rgb(255, 255, 255);
    background-image: url("./assets/booksWhite.jpg");
    background-size: 100rem 55rem; /* Bildens storlek är 300x300 pixlar */
    background-repeat: no-repeat; /* Förhindrar att bilden upprepas */
    background-position: center; /* Centrerar bilden */
    height: auto;
    width: 100vw;
    font-family: $font-primary-montserrat;
}