$color-pink: rgba(245, 140, 192, 0.982) ;
$color-dark-pink: rgba(244, 82, 163, 0.982) ;
$color-purple: rgba(222, 140, 245, 0.982) ;
$color-dark-purple: rgba(203, 60, 243, 0.982) ;
$color-blue: rgba(140, 163, 245, 0.982) ;
$color-dark-blue: rgba(73, 110, 245, 0.982);
$color-black: black;
$color-white: rgb(239, 238, 238) ;

$color-button-green: rgb(135, 246, 151) ;
$color-button-dark-green: rgb(80, 193, 97) ;
$color-button-red: rgb(247, 114, 109) ;
$color-button-dark-red: rgb(235, 38, 31) ;