@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

$font-primary-montserrat: "Montserrat", sans-serif;

$font-size-first: 24px;
$font-size-second: 20px;
$font-size-third: 16px;
$font-size-small: 9px;

$font-weight-first: 500;
$font-weight-second: 300;
$font-weight-third: 100;