@import "./fonts.scss";
@import "./colors.scss";

@mixin ul-list-mixin() {
  list-style: none;
  margin-bottom: 0.5rem;
}

@mixin liAndlink-style-mixin() {
  color: $color-pink;
  font-family: $font-primary-montserrat;
  font-size: $font-size-second;
  font-weight: $font-weight-second;
  text-decoration: none;
  margin-bottom: 0.5rem;
}

@mixin default-page-style() {
  max-width: 90vw;
  width: 90vw;
  min-height: 80vh;
  display: flex;
  margin: 1rem 10rem 1rem 10rem;
  padding-top: 1rem;
  border: solid black 2px;
  background-color: $color-white-light-transparant;
}

@mixin default-errorPage-style() {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

@mixin default-navBar-style(){
  height: 5rem;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr auto 1fr; /* Dela upp navbar i tre kolumner med samma storlek */
  align-items: center;
  margin-top: 5px;
  padding: 0px 10px 0px 10px;
  border: solid black 2px;
  background-color: $color-white-light-transparant;
}
